body {
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-size:2em;
}
.top-container {
  background-color: #9ad3bc;
  align-self: auto;
  font-size: 100px;
  padding: 30px;
}
.top-container p {
  font-size: 50px;
}
h1{
  font-size:10rem;
}

.a {
  height: 300px;
  width: 300px;
}
.middle-container p {
  font-size: 100px;
}

.middle-container {
  font-size: 20px;
}

.bottom-container {
  font-size: 50px;
}
